@model GestionaleAlbergo.Models.Camere

@{
    ViewBag.Title = "DettaglioCamere";
}

<h2>DettaglioCamere</h2>

<div>
    <h4>Camere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCamere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCamere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCamera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCamera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipologia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
