@model IEnumerable<GestionaleAlbergo.Models.Prenotazioni>

@{
    ViewBag.Title = "ListaPrenotazioni";
}

<h2>ListaPrenotazioni</h2>


<p>
    @Html.ActionLink("Create New", "CreaPrenotazione")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPrenotazioni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoDal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoAl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caparra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trattamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdClienti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCamere)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPrenotazioni)
        </td>
        <td>
            @item.DataPrenotazione.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anno)
        </td>
        <td>
            @item.PeriodoDal.ToShortDateString()
        </td>
        <td>
            @item.PeriodoAl.ToShortDateString()
        </td>
        <td>
            @item.Caparra.ToString("C2")
        </td>
        <td>
            @item.Prezzo.ToString("C2")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trattamento)
        </td>
        <td>
            @item.Nome @item.Cognome
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCamera)
        </td>
        <td>
            @Html.ActionLink("Edit", "ModificaPrenotazione", new { id=item.IDPrenotazioni}) 
            @Html.ActionLink("Details", "DettaglioPrenotazioni", new { id = item.IdClienti }) 
            @Html.ActionLink("Delete", "Elimina", new { id = item.IDPrenotazioni })
        </td>
    </tr>
}

</table>


