@model IEnumerable<GestionaleAlbergo.Models.Clienti>

@{
    ViewBag.Title = "ListaClienti";
}

<h2>ListaClienti</h2>

<p>
    @Html.ActionLink("Create New", "CreaCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClienti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Città)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellulare)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdClienti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Città)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
            @Html.ActionLink("Edit", "ModificaClienti", new { id=item.IdClienti }) |
            @Html.ActionLink("Details", "DettaglioClienti", new { id = item.IdClienti }) |
            @Html.ActionLink("Delete", "Elimina", new { id = item.IdClienti })
        </td>
    </tr>
}

</table>
